

<!--Navbar-->
<footer class=" fixed-bottom navbar navbar-expand-lg justify-content-center bg-dark">
  <div class="container-fluid justify-content-center">


      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cryptos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
      </ul>
  </div>
</footer>





