.fs-54 {
  color: rgb(34, 58, 51);
  font-family: "Michroma", sans-serif;
  font-size: 1rem !important;
  font-weight: 700;
}

.fs-18 {
  color: rgb(34, 58, 51);
  font-family: "Michroma", sans-serif;
  font-size: 2rem !important;
  font-weight: 700;
}
.modal-header {
  width: 100% !important;
  border-radius: 0;
  padding: 2rem !important;
  margin-bottom: 2rem !important;
}
.nav-item-header {
  font-family: "Roboto", sans-serif;
  font-size: 1rem !important;
  font-weight: 700;
  color: rgba(50, 102, 102, 0.459);
  transition: 1200ms !important;
}

.nav-pills .nav-link.active{
  background-color: #000 !important;
}
.nav-item-header:active {
  transition: 500ms !important;
  font-size: 1.5rem !important;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: transparent !important;
  color: rgb(34, 58, 51);
}

.nav-item-header:hover {
  transition: 500ms !important;
  color: #ffa51f !important;
  
}

.btn-close {
  text-decoration: none;
}

.modal-title {
  color: #fff;
}

option:active {
  background-color: #212529;
}

.bi-pencil-square {
  margin-bottom: 1rem !important;
}
.post {
  font-family: "Michroma", sans-serif;
  font-size: 2rem;
}
.btn-cadastrar {
  position: relative;
  margin-top: 2rem;
  border-radius: 1rem !important;
  width: 360px !important;

  color: rgb(255, 255, 255) !important;
  background-color: #212529 !important;
  transition: 500ms;
}

.btn-cadastrar:hover {
  color: #ffa51f !important;
}

.img-header {
  width: 600px !important;
  height: 600px !important;
}

@media (max-width: 700px) {
  .img-header {
    width: 350px !important;
    height: 350px !important;
  }
  .btn-cadastrar {
    width: 160px !important;
    font-size: 1rem;
    padding-top: 0.5rem !important;
  }
  .post {
    font-family: "Michroma", sans-serif;
    font-size: 1rem !important;
  }
  .bi-pencil-square {
    margin-top: 0.5rem !important;
    width: 20px !important;
    height: 20px !important;
  }

  .navbar-toggler-icon {
    color: white !important;
  }
}

.modal-content {
  background-color: #ffffffdf !important;
}

select {
  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* arrows */

select.classic {
  background-image: linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
}

select.classic:focus {
  background-image: linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}

select.round {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 0.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
}

select.round:focus {
  background-image: linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    radial-gradient(gray 70%, transparent 72%);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - 0.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}

select.minimal {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image: linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

body {
  background-color: rgb(0, 159, 214);
  font: bold 1em/100% "Helvetica Neue", Arial, sans-serif;
  padding: 2em 0;
  text-align: center;
}
h1 {
  color: white;
  line-height: 120%;
  margin: 0 auto 2rem auto;
  max-width: 30rem;
}
