<app-menu></app-menu>

<div class="container-fluid justify-content-center">
  <div class="row d-flex align-items-center">
    <div class="col text-white text-center">
      <button
        class="btn btn-cadastrar"
        type="button"
        data-toggle="modal"
        data-target="#novaPostagem"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          fill="currentColor"
          class="bi bi-pencil-square"
          viewBox="0 0 16 16"
        >
          <path
            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
          />
          <path
            fill-rule="evenodd"
            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
          />
        </svg>
        <strong class="post"> Post</strong>
      </button>
    </div>
  </div>
</div>

<div style="height: 60px"></div>

<ul
  class="nav nav-pills mb-3 justify-content-center d-flex"
  id="pills-tab"
  role="tablist"
>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active nav-item-header"
      id="pills-home-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-home"
      type="button"
      role="tab"
      aria-controls="pills-home"
      aria-selected="true"
    >
      Todas Postagens
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link nav-item-header"
      id="pills-profile-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-profile"
      type="button"
      role="tab"
      aria-controls="pills-profile"
      aria-selected="false"
    >
      Minhas Postagens
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link nav-item-header"
      id="pills-contact-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-contact"
      type="button"
      role="tab"
      aria-controls="pills-contact"
      aria-selected="false"
    >
      Filtrar por Temas
    </button>
  </li>
</ul>
<div class="tab-content container justify-content-center" id="pills-tabContent">
  <!--Todas postagens-->
  <div
    class="tab-pane fade show active"
    id="pills-home"
    role="tabpanel"
    aria-labelledby="pills-home-tab"
  >
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <div
          class="card rounded mb-5"
          *ngFor="let postagem of listaPostagens | orderBy: key:reverse"
        >
          <div class="card-header">
            <div class="row">
              <div class="col-1 p-0 d-flex justify-content-center">
                <img
                  class="rounded-circle"
                  src="{{ postagem.usuario.foto }}"
                  width="50px"
                  height="50px"
                />
              </div>
              <div class="col-11 p-0">
                <h5 class="card-title m-0">{{ postagem.usuario.nome }}</h5>
                <small class="text-muted">
                  {{ postagem.data | date: "dd/MM/yyyy" }} às
                  {{ postagem.data | date: "HH:mm" }}</small
                >
              </div>
            </div>
          </div>
          <div class="card-body">
            <h6 class="card-title m-0">{{ postagem.titulo }}</h6>
            <p class="card-text mt-3">{{ postagem.texto }}</p>
            <small class="text-muted"
              >Tema: {{ postagem.tema.descricao }}</small
            >
          </div>
          <div class="container d-flex justify-content-center">
            <a class="editar mt-3 mx-1" [routerLink]="['/post-edit', postagem.id]">
              Editar
            </a>

            <a
              class="deletar mt-3 mx-1"
              [routerLink]="['/post-delete', postagem.id]"
            >
              Apagar
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="tab-pane fade"
    id="pills-profile"
    role="tabpanel"
    aria-labelledby="pills-profile-tab"
  >
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">
        <div
          class="card rounded mb-5"
          *ngFor="let postagem of listaPostagens | orderBy: key:reverse"
        >
          <div class="card-header">
            <div class="row">
              <div class="col-1 p-0 d-flex justify-content-center">
                <img
                  class="rounded-circle"
                  src="{{ postagem.usuario.foto }}"
                  width="50px"
                  height="50px"
                />
              </div>
              <div class="col-11 p-0">
                <h5 class="card-title m-0">{{ postagem.usuario.nome }}</h5>
                <small class="text-muted">
                  {{ postagem.data | date: "dd/MM/yyyy" }} às
                  {{ postagem.data | date: "HH:mm" }}</small
                >
              </div>
            </div>
          </div>
          <div class="card-body">
            <h6 class="card-title m-0">{{ postagem.titulo }}</h6>
            <p class="card-text mt-3">{{ postagem.texto }}</p>
            <small class="text-muted"
              >Tema: {{ postagem.tema.descricao }}</small
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="tab-pane fade"
    id="pills-contact"
    role="tabpanel"
    aria-labelledby="pills-contact-tab"
  >
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">
        <div
          class="card rounded mb-5"
          *ngFor="let postagem of listaPostagens | orderBy: key:reverse"
        >
          <div class="card-header">
            <div class="row">
              <div class="col-1 p-0 d-flex justify-content-center">
                <img
                  class="rounded-circle"
                  src="{{ postagem.usuario.foto }}"
                  width="50px"
                  height="50px"
                />
              </div>
              <div class="col-11 p-0">
                <h5 class="card-title m-0">{{ postagem.usuario.nome }}</h5>
                <small class="text-muted">
                  {{ postagem.data | date: "dd/MM/yyyy" }} às
                  {{ postagem.data | date: "HH:mm" }}</small
                >
              </div>
            </div>
          </div>
          <div class="card-body">
            <h6 class="card-title m-0">{{ postagem.titulo }}</h6>
            <p class="card-text mt-3">{{ postagem.texto }}</p>
            <small class="text-muted"
              >Tema: {{ postagem.tema.descricao }}</small
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="novaPostagem"
  tabindex="-1"
  role="dialog"
  aria-labelledby="novaPostagem"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title" id="TituloNovaPostagem">Nova Postagem</h5>
        <button
          type="button"
          class="btn-close"
          data-dismiss="modal"
          aria-label="Fechar"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Título</label>
          <input
            type="text"
            class="form-control"
            id="titulo"
            placeholder="Minímo 5 caracteres"
            [(ngModel)]="postagem.titulo"
          />
        </div>
        <div style="height: 10px"></div>
        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea
            class="form-control"
            id="texto"
            rows="5"
            placeholder="Min 10 Max 500"
            [(ngModel)]="postagem.texto"
          >
          </textarea>
        </div>
        <div style="height: 10px"></div>
        <div class="form-group">
          <label for="tema"
            >Escolha seu tema ou
            <a routerLink="/temas" data-dismiss="modal">Cadastre um novo</a>:
          </label>

          <select
            class="form-control minimal"
            id="tema"
            name="tema"
            [(ngModel)]="idTheme"
            (change)="(findByIdTema)"
          >
            <option *ngFor="let item of themeList" value="{{ item.id }}">
              {{ item.descricao }}
            </option>
          </select>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button
          type="button"
          class="btn btn-danger p-2 mx-2 w-20"
          data-dismiss="modal"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-success p-2 mx-2 w-20"
          data-dismiss="modal"
          (click)="publicar()"
        >
          Publicar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- /Modal -->
<app-rodape></app-rodape>
