<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <!--Logo-->
      <a class="navbar-brand fs-3 fw-bolder ms-2 me-2 text-white" href="#">PGT Crypto</a>
      <div style="width: 200px;"></div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--Menu-->
      <div class="collapse navbar-collapse " id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item ms-4">
            <a class="nav-link fs-4 text-white" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item ms-4">
            <a class="nav-link  fs-4 text-white" href="#">Cryptos</a>
          </li>
          <li class="nav-item ms-4">
            <a class="nav-link  fs-4 text-white" href="#">Blog</a>
          </li>
        </ul>

        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item ms-4">
            <p class="nav-link fs-1 text-white mb-1">Entrar</p>
          </li>
        </ul>
        <a class="nav-link fs-4" aria-current="page" href="/entrar">
          <i class="fa fa-sign-in text-white fs-4" aria-hidden="true"></i>
        </a>
      
        
      </div>
    </div>
  </nav>

  <!--Navbar-->
<footer
class="fixed-bottom navbar navbar-expand-lg justify-content-center bg-dark"
>
<div class="container-fluid justify-content-center">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Cryptos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Blog</a>
    </li>
  </ul>
</div>
</footer>